body{
  text-align: center;
  margin: 100px;
}

h1{
  font-size: xxx-large;
  margin: 25px;
}

.score-board{
  padding: 40px 250px;
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
  font-weight: bolder;
}

.score-board div{
  padding: 10px
}

.time{
  font-size: xx-large;
  font-weight: bolder;
  padding-bottom: 40px;
}

button{
  border: none;
  min-height: 50px;
  min-width: 100px;
  margin: 10px 20px;
  border-radius: 5px;
  font-size: larger;
}

button:hover{
  background-color: #0a2a8a63;
}

.result{
  font-size: xx-large;
  font-weight: bold;
  padding: 20px;
}