body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  margin: 0;
}

.quiz-box{
  text-align: center;
  width: 600px;
  background-color: #80808024;
  border-radius: 20px;
}

.quiz{
  font-size: xxx-large;
  font-weight: bold ;
  padding: 60px;
}

.option-box{
  display: flex;
  justify-content: space-evenly;
}

button{
  font-size: x-large;
  color: white;
  background-color: #a39f9fcc;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  margin-bottom: 60px;
}

button:hover{
  background-color: #635f5feb;
}

.hidden{
  display: none;
}

#correct{
  background-color: #72d967e8;
}

#incorrect{
  background-color: #ff3535ba
}

